#container {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #26001B;
    overflow: hidden; /* Hide content overflowing from the border */
    position: relative;
    background: linear-gradient(to bottom, #210429, #3b064a);
    box-shadow: #40022e 3px 1px 20px;
}
