@inject NavigationManager Navigation

@page "/"

<PageTitle>Home</PageTitle>

<div id="container">
    <button type="button" class="createPost" @onclick="CreatePost">Create Post <i class="oi oi-plus"></i></button>

    <article class="carousel">
        <div class="carousel-div">
            <ul>
                <li><a href="Discover"><img draggable="false" src="../Images/Carousel/carousel1.jpg" /></a></li>
                <li><a href="CommunityRequest"><img draggable="false" src="../Images/Carousel/carousel2.jpg" /></a></li>
                <li><a href="Settings"><img draggable="false" src="../Images/Carousel/carousel3.jpg" /></a></li>
                <li><a href="SettingsPage"><img draggable="false" src="../Images/Carousel/carousel4.jpg" /></a></li>
                <li><a href="CommunityForumn"><img draggable="false" src="../Images/Carousel/carousel5.jpg" /></a></li>
            </ul>
        </div>
        <div class="carousel-div">
            <ul>
                <li><a href="Discover"><img draggable="false" src="../Images/Carousel/carousel1.jpg" /></a></li>
                <li><a href="CommunityRequest"><img draggable="false" src="../Images/Carousel/carousel2.jpg" /></a></li>
                <li><a href="Settings"><img draggable="false" src="../Images/Carousel/carousel3.jpg" /></a></li>
                <li><a href="SettingsPage"><img draggable="false" src="../Images/Carousel/carousel4.jpg" /></a></li>
                <li><a href="CommunityForumn"><img draggable="false" src="../Images/Carousel/carousel5.jpg" /></a></li>
            </ul>
        </div>
    </article>

    <!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
    <div class="col">
        <div class="card card1">
            <h5>Discover Communities</h5>
            <p>Click here to discover new communities</p>
        </div>
        <div class="card card2">
            <h5>Manage communities</h5>
            <p>Click here to manage your communities</p>
        </div>
    </div>

    <div class="feed">
        <table>
            <tr>
                <th>COMMUNITY POSTS GO IN HERE</th>
            </tr>
            <tr>
                <td>Your content here</td>
            </tr>
        </table>
    </div>

</div>

@code {
    private void CreatePost()
    {
        Navigation.NavigateTo("createpost");
    }
}