/*Design of the page itself*/
#container {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #26001B;
    overflow: hidden; /* Hide content overflowing from the border */
    position: relative;
    background: linear-gradient(to bottom, #210429, #3b064a);
    box-shadow: #40022e 3px 1px 20px;
}

body {
    background-color: #4B001F;
    /*#810034*/
}

/*Text in buttons*/
.createPost{
    max-width: 100%;
}

/*Haziq n Kirthan ADSPACE*/
img {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    overflow: hidden;
}
.carousel {
    display: flex;
    width: 200%;
    border: 2px dashed #FFF600;
    outline: 2px dotted #FF005C;
    animation: bannermove 20s linear infinite;
}
.carousel-div {
    width: 100%;
}

    .carousel-div ul li:hover {
        box-shadow: #FFF600 3px 1px 15px;
    }

ul {
    display: flex;
    background: red;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    width: 100%;
    background: blue;
}
    li:nth-child(2) {
        background: green;
    }
    li:nth-child(3) {
        background: yellow;
    }

@keyframes bannermove{
    0%
    {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*Create post button*/

.createPost {
    padding: 0px 20px 5px 15px;
    background: #e69812;
    border-radius: 5px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: large;
    font-weight: 700;
    line-height: 0px;
    border: 2px solid #FF005C;
    word-break: break-word;
    white-space: nowrap; /* Prevent text wrapping */
    width: fit-content;
    height: 48px;
    text-align: center;
    font-size: large;
    /*box-shadow: #FF005C 0px 2px 15px 1px;*/
    color: #fff;
}

/*Card CSS here*/

p {
    color: #fff;
    font-size: 20px;

}

h5 {
    color: #fff;
    font-size: 35px;
    text-shadow: 0 0 5px #999;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.col {
    display: flex;
    align-items: center;
}

.card {
    top: 15px;
    width: 300px;
    height: 230px;
    flex-basis: 50%;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: transform 0.5s;
    user-select: none;
}

.card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/indexCardImg.png);
}

.card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/indexCardImg2.png);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: #00A9FF 3px 1px 20px;
}

/*Content Feed CSS*/
.feed{
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 15px solid white;
}th,td{
     color: white;
 }