.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 600px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    border: solid 5px red;
    padding: 10px;
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    user-select: none;
}

h2 {
    color: white;
    font-weight: bolder;
}

h1 {
    margin-top: 20px;
    font-family: 'Impact', sans-serif;
}

#profile {
    border-width: 0px 0px 5px 0px; /* top, right, bottom, left */
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 300px;
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure it's treated as a block-level element for margin to work */
}


a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

p {
    color: black;
    font-weight: 500;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
}

.label {
    font-weight: bolder;
}

.translucentbg {
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure it's treated as a block-level element for margin to work */
    width: 300px;
    max-height: 600px;
    height: fit-content;
    word-wrap: break-word;
    background: rgba(255,255,255,0.8);
    padding:10px;
}

#show-edit, #save-edit {
    background: #e69812;
    border: solid 2px white;
    color: white;
    border: solid ghostwhite 2px;
    height: 50px;
    font-weight: bolder;
    cursor: pointer;
    justify-content: center;
}
    #show-edit:hover, #save-edit:hover, #right:hover, #left:hover {
        box-shadow: ghostwhite 0px 0px 3px 2px;
    }

    .edit-options {
        text-align: center;
    }

.center {
    margin: 0 auto;
    display: block;
}

.alignment {
    display: flex;
    justify-content: space-between;
}

#right-outer, #left-outer {
    height: 500px;
    width: 50px; /* Set a width to maintain the aspect ratio */
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px; /* Adjust the font size as needed */
    box-shadow: none;
}
#save-edit {
    background: #e69812;
    border: solid 2px white;
    color: white;
}
#right, #left {
    background-color: #e69812;
    border: solid 2px white;
    color: white;
    height: 50px;
    font-size: 24px; /* Adjust the font size as needed */
    box-shadow: none;
}

.edit-options {
    margin-top: 20px;
    display: flex;
}