@page "/admin"

<div id="admin-container">
    <h3>Admin Home Page</h3>

    <!--Contianer for buttons in the Admin Page-->
    <div class="button-container">
        <a href="/admin/com" class="admin-button">Manage Communities</a>
        <a href="/admin/visitors" class="admin-button">Manage Users</a>
        <a href="/admin/genrecontroller" class="admin-button">Manage Generes</a>
        <a href="/admin/staffcontroller" class="admin-button">Manage Staff</a>
    </div>
</div>
