<!-- Page Not Found error page -->
@page "/404"

<!-- Body section containing information about the Page Not Found error -->
<body>
    <section>
        <div class="container">
            <div class="text">
                <!-- Heading indicating a Page Not Found error -->
                <h1>Page Not Found</h1>
                <p>We can't seem to find the page you're looking for. Please check the URL for any typos.</p>
                <div><img class="image" src="https://omjsblog.files.wordpress.com/2023/07/errorimg.png" alt=""></div>
            </div>
        </div>
    </section>
</body>
