@page "/"

<PageTitle></PageTitle>
<link rel="stylesheet" href="css/IndexRazorCss.css" />

<div id="container">
    <div class="topSection">
        <div class="search">
            <form method="get" action="">
                <input type="text" class="searchTerm" placeholder="Looking for something?" required>
                <button type="submit" class="searchButton">Search</button>
            </form>
        </div>
        <button type="button" class="createPost" onclick="createPostFunction()">Create Post <i class="oi oi-plus"></i></button>
    </div>


    <!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
    <div class="col">
        <div class="card">
            <h5>Discover Communities</h5>
            <p>Click here to discover new communities!</p>
        </div>
        <div class="card">
            <h5>Manage communities</h5>
            <p>Click here to manage your communities</p>
        </div>
</div>
</div>