@page "/"

<PageTitle></PageTitle>
<link rel="stylesheet" href="../css/IndexPageCss.css"/>

<div id="container">
    <div class="topSection">
        <div class="search">
            <form method="get" action="">
                <input type="text" class="searchTerm" placeholder="Looking for something?" required>
                <button type="submit" class="searchButton">Search</button>
            </form>
        </div>
        <button type="button" class="createPost" onclick="createPostFunction()">Create Post  <i class="oi oi-plus"></i></button>
    </div>
     
   <script>
            document.getElementById('createPostButton').addEventListener('click', createPostFunction);
            function createPostFunction() {
                console.log("Create Post button clicked!");
            }
    </script>
    
    <article class="carousel">
        <div class="carousel-div">
            <ul>
                <li><img src="../Images/Carousel/carousel1.jpeg" /></li>
                <li><img src="../Images/Carousel/carousel2.jpeg" /></li>
                <li><img src="../Images/Carousel/bondr-founders.png" /></li>
                <li><img src="../Images/Carousel/carousel3.jpeg" /></li>
                <li><img src="../Images/Carousel/carousel4.jpeg" /></li>
            </ul>
        </div>
        <div class="carousel-div">
            <ul>
                <li><img src="../Images/Carousel/carousel1.jpeg" /></li>
                <li><img src="../Images/Carousel/carousel2.jpeg" /></li>
                <li><img src="../Images/Carousel/bondr-founders.png" /></li>
                <li><img src="../Images/Carousel/carousel3.jpeg" /></li>
                <li><img src="../Images/Carousel/carousel4.jpeg" /></li>
            </ul>
        </div>
    </article>

    <!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
    <div class="col">
        <div class="card card1">
            <h5>Discover Communities</h5>
            <p>Click here to discover new communities</p>
        </div>
        <div class="card card2">
            <h5>Manage communities</h5>
            <p>Click here to manage your communities</p>
        </div>
    </div>
</div>
