<!-- Unauthorized access page -->
@page "/unauthorized"

<!-- Heading with a red text color for indicating an authorization error -->
<h1 class="text-danger">
    You are not authorized to access this resource. Authorization error!
</h1>
