<!-- Unauthorized access page -->
@page "/unauthorized"

<!-- Heading with a red text color for indicating an authorization error -->
<body>
    <section>
        <div class="container">
            <div class="text">
                <!-- Heading indicating an internal server error -->
                <h1>ERROR</h1>
                <!-- Message instructing the user to alert the administrator -->
                <p>Oops! It looks like we've encountered an issue. Please alert your administrator!</p>
                <!-- Displaying the error code "500" in a div with id "big-text" -->
                <div id="big-text">UNAUTHORIZED ACCESS</div>
            </div>
        </div>
    </section>
</body>
