@page
@model LoginModel

@{
    ViewData["Title"] = "BONDR";
}

<div class="row">
    <div>
        <section>
            <form id="account" method="post">
                <h1 style="color: #efbbff; margin-top: 1rem; font-weight: bold; text-align: center; font-size: 8rem; font-family: 'Arial', Helvetica, sans-serif;">@ViewData["Title"]</h1>
                <h2 style="color:#efbbff; margin-top:2rem; font-family: 'Arial', Helvetica, sans-serif; text-align:center;">Log In</h2>
                <div style="height:3rem;"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label" style="color: #efbbff;">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div style="height:4rem; width:25rem; margin:0 auto; margin-bottom:-1rem;">
                    <button style="margin-top:-0.6rem; background-color:#a80398;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div style="text-align:center;">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p style="margin-top:-0.5rem;">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
