@inject NavigationManager Navigation

<div class="search">
    <form method="get" action="">
        <input type="text" class="searchTerm" placeholder="Looking for something?" required>
        <button type="submit" class="searchButton">Search</button>
    </form>
</div>