@page "/settings"

<div id="container">
    <div class="header">
            <img src="../Images/Pages/settingsBanner.png">
    </div>

    <form action="#" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="text" id="confirmPassword" name="confirmPassword" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="notification">Gender (Optional):</label>
        <select id="notification" name="notification">
            <option value="nil">Prefer not to say</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        <button class = "bt1" type="submit">Save Changes</button>
    </form>
        <div class="userImg">
            <button>select image</button>
        </div>
        
</div>