@inject NavigationManager Navigation

@page "/communities"

<div id="container">
    <div class="header">
        <img src="../Images/Pages/settingsBanner.png">
    </div>

    <button type="button" class="createCommunity" @onclick="CreateCommunity">Create Community <i class="oi oi-plus"></i></button>

    <!-- Existing carousel code -->
    <article class="carousel">
        <div class="carousel-div">
            <ul>
                <li><a href="Discover"><img draggable="false" src="../Images/Carousel/carousel1.jpg" /></a></li>
                <li><a href="CommunityRequest"><img draggable="false" src="../Images/Carousel/carousel2.jpg" /></a></li>
                <li><a href="Settings"><img draggable="false" src="../Images/Carousel/carousel3.jpg" /></a></li>
                <li><a href="SettingsPage"><img draggable="false" src="../Images/Carousel/carousel4.jpg" /></a></li>
                <li><a href="CommunityForumn"><img draggable="false" src="../Images/Carousel/carousel5.jpg" /></a></li>
            </ul>
        </div>
        <div class="carousel-div">
            <ul>
                <li><a href="Discover"><img draggable="false" src="../Images/Carousel/carousel1.jpg" /></a></li>
                <li><a href="CommunityRequest"><img draggable="false" src="../Images/Carousel/carousel2.jpg" /></a></li>
                <li><a href="Settings"><img draggable="false" src="../Images/Carousel/carousel3.jpg" /></a></li>
                <li><a href="SettingsPage"><img draggable="false" src="../Images/Carousel/carousel4.jpg" /></a></li>
                <li><a href="CommunityForumn"><img draggable="false" src="../Images/Carousel/carousel5.jpg" /></a></li>
            </ul>
        </div>
    </article>
 
    <!-- New section for community search -->
    <div class="community-search">
        <h2>Find a Community</h2>
        <input type="text" placeholder="Enter community name">
        <button type="button">Search</button>
    </div>

    <div class="feed">
        <table>
            <tr>
                <th>COMMUNITY POSTS GO IN HERE</th>
            </tr>
            <tr>
                <td>Your content here</td>
            </tr>
        </table>
    </div>
</div>

@code {
    private void CreateCommunity()
    {
        Navigation.NavigateTo("createcommunity");
    }
}
